.navi{
  background-color: rgb(33, 141, 145);
  display: flex;
  padding: 1%;
  font-size: 200%;
  color: black;
  display: flex;
  justify-content: space-evenly;
  
}
a{
  color:black;
}

a:active{
  color: green;
}

footer{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: silver;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  text-decoration: underline;
}